.login_container {
    background: var(--color-primary);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    border: 2px solid white;
    display: flex;
    background: white;
    border-radius: 10px;
    align-items: center;
    width: 680px;
    height: 200px;
}

.card .login_left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
}

.card .login_right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: var(--color-primary);
    justify-content: center;
    padding: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card span {
    color: var(--color-primary);
}

.login_container form input {
    padding: 5px;
    width: 90%;
    background: transparent;
    border: transparent;
    outline: none;
    border-bottom: 1px solid white;
    border-radius: 5px;
    color: blue;
}
